.App {
  /* display: flex;
  flex-flow: column wrap; */
}

.active {
  color: white;
  background-color: rgb(88, 79, 209);
  border-radius: 10px;
}

.content-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  padding: 0.5rem calc((100vw - 1200px) / 2);
}

.lef-col {
  width: 15%;
  display: flex;
  flex-flow: column nowrap;
  padding:8px 16px ;
}

.right-col {
  width: 85%;
  padding:8px 16px ;
  background-color: rgb(221, 212, 212);
  height: 500px;
  float: right;
}



